.kanban-column {
    --component-background-colour: #232c32;
    --component-text-colour: #f5f5f5;
    background-color: var(--component-background-colour);
    padding: 15px;
    margin: 0;
    width: 300px;
    border-radius: 5px;
    min-height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
}

.kanban-column * {
    font-family: 'Open Sans', sans-serif;
}

.kanban-column-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h2 {
    margin: 0;
    padding: 0;
    color: var(--component-text-colour);
}

h2 > input {
    border: 0;
    outline: 0;
    background-color: transparent;
    color: var(--component-text-colour);
    font-size: 21px;
    padding: 0;
    margin: 0;
    font-weight: 600;
}

.kanban-card-container {
    margin: 15px 0;
    background-color: #1c242b;
    filter: brightness(95%);
    flex-grow: 1;
    overflow-y: auto;
}

button {
    border: 0;
    outline: 0;
    background-color: transparent;
    color: var(--component-text-colour);
    font-size: 15px;
}

button:hover {
    cursor: pointer;
    filter: brightness(85%);
}

.ghost-card {
    filter: contrast(0.1);
}